@charset "utf-8";
.tab-content {
	background-color: #f8f8f8;
}

.top {
	width: 100%;
	height: 400px;
	background: url(../img/1482204311.png) top center;
	animation-name: fadeInUp;
	animation-delay: 0.2s;
}

body {
	font: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Roboto, Arial, sans-serif;
}

.tab {
	width: 100%;
	animation-name: fadeInUp;
	animation-delay: 0.4s;
}

* {
	margin: 0;
	padding: 0;
}

.tab-title,
.tab-content {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tab-title {
	padding-left: 130px;
	/*text-align: center;*/
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #f0f2f5;
}

.tab-title li {
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	padding: 0 14px;
	color: #90939b;
	cursor: pointer;
}

.tab-title li:first-child.active {
	color: #90939b;
}

.tab-title li:first-child:hover {
	color: #393939;
}

.tab-title li:hover,
.tab-title li.active {
	color: #393939;
}

.tab-content .boxx {
	margin: 10px;
	float: left;
	background-color: #FFFFFF;
	width: 283px;
	padding-bottom: 20px;
	animation-name: fadeInLeft;
}

.tab-content li {
	padding: 30px;
	color: #000000;
	display: none;
}

.tab-content .boxx img {
	width: 283px;
	height: 176px;
}

.tab-content .boxx .title {
	display: block;
	color: rgb(55, 71, 79);
	font-size: 17px;
	padding: 25px;
}

.tab-content .boxx p {
	margin: 0 0 11px;
	padding: 0 25px 10px;
	font-size: 14px;
	color: rgb(57, 57, 57);
}

.tab-content li:first-child {
	display: block;
}

.btn {
	width: 56px;
	height: 22px;
	margin-left: 25px;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	background-image: none;
	color: rgb(57, 57, 57);
	font-size: 14px;
	line-height: 1.57143;
	-webkit-font-smoothing: subpixel-antialiased;
	padding: 6px 15px;
	border-color: rgb(57, 57, 57);
	border-radius: 3px;
	transition: border 0.2s linear, color 0.2s linear, width 0.2s linear, background-color 0.2s linear;
}

.btn:hover {
	background-color: rgb(89, 89, 89);
	border-color: rgb(89, 89, 89);
	color: rgb(255, 255, 255);
}