@charset "utf-8";
.footer {
	background-color: #FFFFFF;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	background: #fff;
	border: none;
	color: #8e8e8e;
	z-index: 1700;
	text-align: right;
	padding: 5px 0 !important;
}

.powered_by_metinfo {
	padding-left: 15px;
	color: #a8a8a8;
}

.foot-links {
	padding-left: 15px;
	color: #a8a8a8;
}