@charset "utf-8";
body {
	background: #F2F2F2;
	height: 100%;
}

.container {
	padding: 30px 0;
	width: 1200px;
	margin: 0 auto;
}

.left {
	margin-top: 60px;
	padding-top: 30px;
	background: #FFFFFF;
	width: 880px;
	padding-bottom: 60px;
}

.right {
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 30px;
	width: 260px;
	margin-top: 60px;
	padding-top: 30px;
	background: #FFFFFF;
	padding-bottom: 60px;
}

.swiper-container {
	width: 820px;
	height: 452px;
	margin: 0 auto;
}

.swiper-slide {
	height: 452px;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #FFFFFF;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 100%;
	border: 2px solid #F0F2F5;
	background: rgb(255, 255, 255);
}

.article img {
	margin-right: 20px;
}

.article a {
	padding-bottom: 4px;
	color: #2a333c;
	display: block;
	font-size: 17px;
}

.article {
	padding-bottom: 20px;
	padding-top: 30px;
	width: 817px;
	margin: 0 auto;
	border-bottom: 1px solid #f0f2f5;
}

.article .des {
	line-height: 20px;
	color: #76838f;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 10px;
}

.article .time {
	padding-right: 20px;
	display: inline-block;
}

.search {
	outline: none;
	display: block;
	width: 225px;
	height: 20px;
	padding: 6px 15px;
	font-size: 14px;
	line-height: 1.57142857;
	color: #76838f;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e4eaec;
	border-radius: 200px;
	margin-bottom: 10px;
}

.frame img {
	position: absolute;
	right: 13px;
	bottom: 9px;
}

.recomm {
	border-top: 1px solid #f0f2f5;
	padding-left: 10px;
	font-size: 17px;
	padding-top: 15px;
	font-weight: 300;
	line-height: 1.2;
	color: #37474f;
	margin-bottom: 10px;
}

.title {
	border-color: #e4eaec;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position: relative;
	display: block;
	padding: 10px 15px;
	font-size: 14px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #f0f2f5;
	color: #393939;
}