@charset "utf-8";
html,
body {
	position: relative;
	height: 100%;
	background-color: #f8f8f8;
}

.w3cFocus {
	width: 80%;
	margin: 0 auto;
	margin-top: 80px;
	position: relative;
	height: 500px;
	padding: 10px 0;
	background-color: #f8f8f8;
}

.w3cFocus p {
	font-size: 18px;
	padding-left: 10px;
	padding-bottom: 20px;
	color: #37474f;
}

.w3cFocus .prev,
.w3cFocus .next {
	position: absolute;
	display: block;
	left: 10px;
	top: 97px;
	width: 46px;
	height: 62px;
	background: url(images/focusAdvBg.png) no-repeat;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.w3cFocus .next {
	left: auto;
	right: 10px;
	background-position: -46px 0;
}

.w3cFocus .prev:hover,
.w3cFocus .next:hover {
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}

.w3cFocusIn {
	width: 1128px;
	height: 624px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.w3cFocusIn .bd li {
	vertical-align: middle;
}

.w3cFocusIn .bd li img {
	width: 1128px;
	height: 624px;
	display: block;
}

.w3cFocusIn .hd {
	position: absolute;
	right: 31%;
	bottom: 6px;
}

.w3cFocusIn .hd ul {
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	overflow: hidden;
	zoom: 1;
}

.w3cFocusIn .hd ul li {
	position: relative;
	float: left;
	display: inline;
	padding-top: 4px;
	margin-right: 6px;
	filter: alpha(opacity=80);
	opacity: 0.8;
	cursor: pointer;
}

.w3cFocusIn .hd ul li img {
	width: 76px;
	height: 46px;
	border: 1px solid #fff;
	display: block;
}

.w3cFocusIn .hd ul li.on img {
	border: 1px solid #3499EA;
	border-bottom-width: 2px;
}

.bocc {
	width: 1108px;
	margin: 50px auto;
	padding: 25px 20px;
	font-size: 14px;
	color: rgb(127, 127, 127);
	background-color: #FFFFFF;
	}